:root {
  --primary: #7dc81b;
  --secondary: #0051ff;
  --black: #080705;
  --white: #f7e9e4;
  --semi-black: #24333f;
  --semi-white: #687680;
  --paragraph: rgba(247, 233, 228, 0.75);
  --shadow: rgba(8, 7, 5, 0.25);
  --primary-shadow: rgba(125, 200, 27, 0.5);
  --secondary-shadow: rgba(0, 81, 255, 0.5);
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-container {
  display: flex;
  justify-content: center;
}

.main-wrapper {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  color: var(--white);
  margin-bottom: 20px;
}

.after-title {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.25;
  color: var(--paragraph);
  margin-bottom: 20px;
}

.main-container .btn-container {
  width: fit-content;
  margin: 30px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Media Queries */

@media only screen and (max-width: 1080px) {
  body {
    overflow-y: auto;
  }

  .main-wrapper {
    width: calc(100% - 80px);
  }
}

@media only screen and (max-width: 580px) {
  .title,
  .after-title {
    text-align: left;
  }

  .title {
    font-size: 1.75rem;
  }

  .after-title {
    font-size: 1.125rem;
  }

  .main-container .btn-container {
    margin: 20px 0 0 0;
    justify-content: flex-start;
    align-self: flex-start;
  }
}
